<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Site ecommerce{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

      <header>
        header
      </header>

      <div>
        <nav>
          <ul>
            <li><a href="{{ path('page_home') }}">home</a></li>
            <li><a href="{{ path('ecomm_home') }}">Les produits</a></li>
          </ul>
        </nav>
      </div>

        {% block body %}

        {% endblock %}

        <footer>
          footer
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
