{% extends "base.html.twig" %}


{% block body %}

<h1>Produits</h1>

<hr>

  <h2>Liste des annonces</h2>

  <ul>
    {% for produit in listProduits %}
      <li>

          {{ produit.nom }}
          au prix :{{ produit.prix }}

      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}
