{% extends "ECommBundle:Order/layout:baseOrder.html.twig" %}

{% block titre %}
  <h2>commande terminée</h2>
{% endblock %}

{% block listeButton %}

<div class="">
  <p>
    <a href="{{path('page_home')}}">
      <input type="button" name="" value="homepage">
    </a>
  </p>
</div>

{% endblock %}
