<nav class="side-navbar">
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li> <a href="{{path('user_admin')}}"> <i class="icon-user"></i>Utilisateur</a></li>
    <li> <a href="{{path('order_admin')}}"> <i class="icon-grid"></i>Commande</a></li>
    <li> <a href="{{path('product_admin')}}"> <i class="icon-grid"></i>Produit</a></li>
    <li> <a href="{{path('category_admin')}}"> <i class="icon-grid"></i>Categorie</a></li>

  </ul>
</nav>
