{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<div class="">
  <form class="" action="{{path('remove_produit')}}" method="post">

    <select class="" name="id">
      <option value="">--</option>
      {% for item in produits %}
      <option value="{{item.id}}">{{item.nom}}</option>
      {% endfor %}
    </select>
    <input type="submit" name="" value="enlever/rendre non dispo ??">
  </form>

</div>
