security:
    encoders:
        ECommBundle\Entity\User:
            algorithm: bcrypt

    # ...

    providers:
        our_db_provider:
            entity:
                class: ECommBundle:User
                # if you're using multiple entity managers
                # manager_name: customer
    firewalls:
        main:
            anonymous: ~
            logout:
                path:   /logout
                target: /
            form_login:
                # submit the login form here
                check_path: /login
                # the user is redirected here when they need to log in
                login_path: /login

                # field names for the username and password fields
                username_parameter: _username
                password_parameter: _password

                csrf_token_generator: security.csrf.token_manager




    access_control:
      - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/order, roles: ROLE_USER }
    role_hierarchy:
      ROLE_VENDEUR:       ROLE_USER
